:root {
  --right: -50px;
  --top: 50px;
}


* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
.hero {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(45deg, #010822, #2937af);
  color: #fff;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#clock {
  width: 100%;
  height: 100%;
  padding: 2rem;
  display: inline-table;
  background: rgba(235, 0, 255, 0.11);
  border-radius: 10px;
  backdrop-filter: blur(40px);
}
#current_time {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container::before {
  content: "";
  width: 120px;
  height: 120px;
  background: #f41b75;
  border-radius: 5px;
  position: absolute;
  left: -50px;
  top: -50px;
  z-index: -1;
}

.container::after {
  content: "";
  width: 120px;
  height: 120px;
  background: #419aff;
  border-radius: 50%;
  position: absolute;
  right: var(--right);
  top: var(--top);
  z-index: -1;
}
#current_time span {
  font-size: 80px;
  width: 100px;
  display: inline-block;
  text-align: center;
  position: relative;
}
#current_time span::after {
  position: absolute;
  font-size: 15px;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}
#clock_hrs::after {
  content: "HOURS";
}
#clock_min::after {
  content: "MINUTES";
}
#clock_sec::after {
  content: "SEC";
}

#set_time {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#set_time {
  width: 100%;
  align-items: center;
  text-align: center;
  display: grid;
}
.input_row {
  display: flex;
  gap: 2rem;
}
#hours,
#minuts {
  height: 3rem;
  width: 8rem;
  text-align: center;
  font-size: 45px;
  color: #fff;
  background: transparent;
  border: none;
  border-radius: 6px;
  -webkit-box-shadow: -4px -1px 41px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -4px -1px 41px -8px rgba(0, 0, 0, 0.75);
  box-shadow: -4px -1px 41px -8px rgba(0, 0, 0, 0.75);
}
#hours,
#minuts:focus-visible {
  outline: none;
}
#add_btn {
  height: 3rem;
  width: 15rem;
  margin-top: 1rem;
  border-radius: 5px;
  border: none;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 92, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  color: #fff;
  font-size: 2rem;
}
